<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wms.mapper.BlzcDataMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, name, password, age, sex, phone, role_id, isValid
    </sql>

    <select id="pageC" resultType="com.project.wms.entity.BlzcData">
        select * from blzc_data
    </select>

    <select id="pageCC" resultType="com.project.wms.entity.BlzcData">
        select * from blzc_data ${ew.customSqlSegment}
    </select>
</mapper>
