<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wms.mapper.messageMapper.SessionContextMapper">

    <resultMap id="BaseResultMap" type="com.project.wms.entity.message.SessionContext">
        <id column="id" property="id" />
        <result column="session_id" property="sessionId" />
        <result column="messages" property="messages" />
        <result column="last_updated" property="lastUpdated" />
    </resultMap>

    <select id="getBySessionId" resultMap="BaseResultMap">
        SELECT * FROM session_context WHERE session_id = #{sessionId}
    </select>

    <select id="getBySessionIdOrderByDate" resultMap="BaseResultMap">
        SELECT * FROM session_context WHERE session_id = #{sessionId} ORDER BY last_updated DESC LIMIT 10
    </select>

<!--    <update id="updateById">-->
<!--        UPDATE session_context-->
<!--        SET messages = #{messages}, last_updated = #{lastUpdated}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

</mapper>
